* {  margin: 0; padding: 0; }
 
html {	display:block; font-family: "Vollkorn", "Open Sans", "Lato", "Abril Fatface", "Old Standard TT", "Droid Sans";}

body {
  line-height: 1; 
  overflow-x: hidden;
}

a {
 text-decoration: none; 
}

header {    
  padding:10px 0;  
  min-width: 98%; 
  font: small-caps bold 150% "Lato";  
}

footer {
  font: small-caps bold 150% "Lato";  
}

header nav ul li { 
  float: left;
  min-width: 19.6%;
  max-width: 19.6%;
  font-size: 1rem;  
  line-height: 2rem;  
  padding: 0; 
}
	
.col, .descrip { background-color: white; text-align: center;}

.span_3_of_11 { 
 outline: 3px solid #579300; 
  }

 /*  SECTIONS  */
.section {	padding: 0px; margin: 0px; }

/*  COLUMN SETUP  */
.col {	
    display: block;
	float:left;
	margin: 1% 0 1% 1.6%; }

.col:first-child { margin-left: 0; } 

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}

.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 98%; }
.span_2_of_3 { width: 66.1%; }
.span_1_of_3 { width: 32.2%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.push {
    visibility: hidden;
}

@media only screen and (max-width: 480px)
{
		
	.push {
	    display: none;
	}
	
} 

header img {
    width: 150px;
    height: 150px;   
}
 
.main, .descrip {
  clear: both; 
  text-align: left; 
}

.welcome {
  text-align: center;
}

article img {  
    max-width: 480px; 
    padding-left: 5%;
  }
 
.descrip {
  font: 125% "Ariel"; 
}
 
.footer-descrip {
  text-align: center;
  min-width: 98%; 
  font: small-caps 85% "Lato";
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 3px;
  border-style: double; 
  border-color: #579300 #60A300;
}

.map {
  min-width: 36%;
  min-height: 30%
}

=======
/* monica's new stuff */
header li {
  display: inline;
  float: left;
  padding: 1%;
  margin: 0 1%;
}

header {
  background-color: white;
}

header a {
  color: #523E33;
}
.nav-color { background-color:#CAC3BF; }

.no-under-link {
  text-decoration: none;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5rem;
}

.fancy { 
  font-family: Oswald, sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  color: #C6E09E;
}

.title { 
  margin-top: 3%;
  margin-left: 20%;
  width: auto;
}

aside a {
  color: #523E33;
  text-decoration: none;
  font-size: 1.4rem;
}

aside li {
  padding: 3% 0;
  margin-top: 4%;
}

aside { 
padding-bottom: 20%;
padding-top: 2%;
}

article {
text-align: left;
padding: 2% 20% 5% 5%;
} 

.class-list li {
  padding:1% 1% 1% 0;
  margin: 5% 0;
}

.lesson-list li {
  padding:1% 1% 1% 0;
  margin: 2% 0;
}

.class-list li:first-child, .lesson-list li:first-child {
  margin-top: 0;
}

article nav {
  padding:0 1% 5% 0;
}

article nav h3 {
  margin-top: 3%
}

h3 { 
  font-size: 1.1rem;
}

.class-name { 
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 1%;
}

.about-article img {
  float: left;
  margin-right: 3%;
}
 
.about-article p {
  width: auto;
  font-size: 1.2rem;
}
.about-article h2 { 
  margin-bottom: 10%;
  margin-top: 5%;
  text-align: center;
  font-size: 2.5rem;
}
.about-article {
  padding-bottom: 3%; 
} 


/*slideshow styles - taken from open source online examples - not created organically by charles or monica*/
 

.slider{
	width: 480px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 15px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*added transitions*/
.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
} 

.span_3_of_11 {
  min-height: 15rem;
}

body {
 max-width: 90%;
  margin-left: 10%;
  margin-right: 10%; 
  background: -prefix-linear-gradient(top, white, #579300); 
  background: linear-gradient(to bottom, white, #579300); 
} 

.main {
background-color:#FFF;
background-image: url(your_BG.jpg);
}
 